

.Ncard{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice{
    width: 70%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    border: 1px solid black;
    border-radius: 30px;
}

.notice-heading{
    width: 16rem;
    height: 60px;
    background-color: aqua;
    transform: translateY(-12rem) skew(347deg, 0deg);   

}